* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color: rgba(249, 222, 211, 0.82);
    font-size: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid #555252; */
}

.center-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f89710bc;
    height: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topic-name {
    padding: 15px 25px;
    margin: 40px;
    border: 1px solid #FFFFFF;
    width: 340px;
    height: 450px;
}

.title {
    font-size: 26px;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: flex-start;
}

.topic-1,
.topic-2,
.topic-3 {
    font-style: normal;
    font-size: 16px;
}

.down {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 0 20px;
    height: 80px;
    background-color: rgba(240, 238, 237, 0.404);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}